<div class="main-container">
  <div class="min-height-50px">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Profile</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
        <div class="pd-20 card-box height-100-p">
          <div class="profile-photo">
            <% if instructure.instructure_photo.attached? %>
              <%= image_tag instructure.instructure_photo.variant(resize_to_limit: [100, nil]), class: 'image_rounded avatar-photo' %>
            <% else %>
              Photo not input
            <% end %>
          </div>
          <h5 class="text-center h5 mb-0"><%= instructure.name %></h5>
          <div class="profile-info">
            <h5 class="mb-20 h5 text-blue">Contact Information</h5>
            <ul>
              <li>
                <span>Gender:</span>
                <%= instructure.gender == 'P' ? 'Perempuan' : 'Laki-laki' %>
              </li>
              <li>
                <span>Email Address:</span>
                <%= instructure.email %>
              </li>
              <li>
                <span>Phone Number:</span>
                <%= instructure.handphone_number %>
              </li>
              <li>
                <span>Address:</span>
                <%= instructure.address %>
              </li>
              <li>
                <span>Province:</span>
                <%= province_name(instructure.province) %>
              </li>
              <li>
                <span>Regency:</span>
                <%= regency_name(instructure.city) %>
              </li>
            </ul>
          </div>
          <div class="profile-info">
            <h5 class="mb-20 h5 text-blue">Instructure Information</h5>
            <ul>
              <li>
                <span>Join Date:</span>
                <%= instructure.join_date %>
              </li>
              <li>
                <span>Instructure Status:</span>
                <%= instructure.status == 'N' ? 'Not Active' : 'Active'%>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
        <div class="card-box height-100-p overflow-hidden">
          <div class="profile-tab height-100-p">
            <div class="tab height-100-p">
              <ul class="nav nav-tabs customtab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Timeline</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#setting" role="tab">Settings</a>
                </li>
              </ul>
              <div class="tab-content">
                <!-- Timeline Tab start -->
                <div class="tab-pane fade show active" id="timeline" role="tabpanel">
                  <div class="pd-20">
                    <div class="profile-timeline">
                      <div class="timeline-month">
                        <h5><%= instructure.created_at.strftime("%B, %Y") %></h5>
                      </div>
                      <div class="profile-timeline-list">
                        <ul>
                          <li>
                            <div class="date"><%= instructure.created_at.strftime("%d/%m/%y") %></div>
                            <div class="task-name"><i class="ion-android-alarm-clock"></i> Profile Created</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Setting Tab start -->
                <div class="tab-pane fade height-100-p" id="setting" role="tabpanel">
                  <div class="profile-setting">
                    <%= form_with(model: instructure, class: "contents") do |form| %>
                      <ul class="profile-edit-list row">
                        <li class="weight-500 col-md-12">
                          <h4 class="text-blue h5 mb-20">Edit Your Profile</h4>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Name *</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.text_field :name, class: "form-control", placeholder: "Input instructure name", minlength: 3, required: true, maxlength: 100 %>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Account *</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.select :user_id, @accounts.map { |account|
                [account.email, account.id] },
                {include_blank: true},
                {class: 'form-control', data: { controller: 'select-option-slim', action: 'change->employee#getAccountSelected' } }
            %>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Email *</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.text_field :email, class: "form-control", placeholder: "Input member email address", data: { employee_target: 'email' } %>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Handphone Number *</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.number_field :handphone_number, 
                class: "form-control", 
                placeholder: "Input member handphone number", 
                required: true, 
                data: { employee_target: 'handphone' }, 
                maxlength: 13 
            %>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Gender *</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.select :gender, @genders.map { |value, key| [value, key] },
                  { include_blank: true },
                  { class: 'form-control', data: { controller: 'select-option-slim' } }
            %>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Address *</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.text_area :address,size: "70x5", class: "form-control", placeholder: "Input employee address",required: true %>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Province *</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.select :province, @province.map { |prv| [prv.name, prv.id] },
                  { include_blank: true },
                  { class: 'form-control', data: { controller: 'select-option-slim' } }
            %>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">City *</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.select :city, @cities.map { |city| [city.name, city.id] },
                  { include_blank: true },
                  { class: 'form-control', data: { controller: 'select-option-slim' } }
            %>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Instructure join date *</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.date_select :join_date, 
                     start_year: Date.today.year, 
                     end_year: Date.today.year, 
                     order: [:day, :month, :year], 
                     prompt: { day: 'Choose date', month: 'Choose month', year: 'Choose year' },
                     class: 'form-control',
                     data: { controller: 'select-option-slim' } %>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Status *</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.select :status, @status.map { |key, value| [key, value] }, 
                { include_blank: true, selected: (title == 'Edit' ? instructure.status : 'Y') }, 
                { class: 'form-control', data: { controller: 'select-option-slim' } }
            %>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Photo</label>
                            <div class="col-sm-12 col-md-10">
                              <%= form.file_field :instructure_photo,
                    accept: "image/png, image/jpeg",
                    data: { controller: 'filepond', 
                    filepond_target: 'input',
                    direct_upload_url: rails_direct_uploads_url
            }%>
                            </div>
                          </div>
                          <div class="inline">
                            <button class="btn btn-primary btn-lg" type="submit"
                                data-controller="confirmation"
                                data-action="click->confirmation#confirm"
                              data-confirmation-title-after-confirm-value="Save it!"
                              data-confirmation-text-after-confirm-value="Your file has been saved."
                              data-confirmation-confirm-button-text-value="save"
                              data-confirmation-message-value="Do you want to save this?"
                              data-confirmation-url-value="/instructures/<%=instructure.id%>"
                              >
                              Simpan Data
                            </button>
                          </div>
                          <%= link_to "Kembali", instructures_path, class: "btn btn-warning btn-lg" %>
                        </li>
                      </ul>
                    <% end %>
                  </div>
                </div>
                <!-- Setting Tab End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>