<div id="<%= dom_id employee %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= employee.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= employee.employee_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= employee.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of birth:</strong>
    <%= employee.date_of_birth %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= employee.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Photo:</strong>
    <%= employee.photo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Photo size:</strong>
    <%= employee.photo_size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Photo extension:</strong>
    <%= employee.photo_extension %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= employee.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= employee.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hire date:</strong>
    <%= employee.hire_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Job title:</strong>
    <%= employee.job_title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created by:</strong>
    <%= employee.created_by %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created by name:</strong>
    <%= employee.created_by_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated by:</strong>
    <%= employee.updated_by %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated by name:</strong>
    <%= employee.updated_by_name %>
  </p>

</div>
