<div class="left-side-bar">
  <div class="brand-logo">
    <a href="index.html">
      <img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
      <img src="vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
    </a>
    <div class="close-sidebar" data-toggle="left-sidebar-close">
      <i class="ion-close-round"></i>
    </div>
  </div>
  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <ul id="accordion-menu">
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
          </a>
        </li>
        <% if policy(Employee).index? %>
          <li>
            <%= link_to employees_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
              <span class="micon dw dw-user-2"></span>
              <span class="mtext">Employee</span>
            <% end %>
          </li>
        <% end %>
        <% if policy(Member).index? %>
          <li>
            <%= link_to members_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
              <span class="micon dw dw-user-2"></span>
              <span class="mtext">Member</span>
            <% end %>
          </li>
        <% end %>
        <% if policy(Instructure).index? %>
          <li>
            <%= link_to instructures_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
              <span class="micon dw dw-user-2"></span>
              <span class="mtext">Instructure</span>
            <% end %>
          </li>
        <% end %>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <div class="sidebar-small-cap">Settings</div>
        </li>
        <% if policy(Role).index? %>
          <%= link_to roles_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
            <span class="micon dw dw-user-2"></span>
            <span class="mtext">Role</span>
          <% end %>
        <% end %>
        <% if policy(Permission).index? %>
          <%= link_to permissions_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
            <span class="micon dw dw-user-2"></span>
            <span class="mtext">Permission</span>
          <% end %>
        <% end %>
        <%= link_to account_configurations_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
          <span class="micon dw dw-user-2"></span>
          <span class="mtext">Account User</span>
        <% end %>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <div class="sidebar-small-cap">Master Data</div>
        </li>
        <% if policy(MembershipPackage).index? %>
          <li>
            <%= link_to membership_packages_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
              <span class="micon dw dw-tag-1"></span>
              <span class="mtext">Membership Package</span>
            <% end %>
          </li>
        <% end %>
        <% if policy(InventoryCategory).index? %>
          <li>
            <%= link_to inventory_categories_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
              <span class="micon dw dw-tag-1"></span>
              <span class="mtext">Inventory Categories</span>
            <% end %>
          </li>
        <% end %>
        <% if policy(ProductCategory).index? %>
          <li>
            <%= link_to product_categories_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
              <span class="micon dw dw-tag-1"></span>
              <span class="mtext">Product Categories</span>
            <% end %>
          </li>
        <% end %>
        <% if policy(Province).index? %>
          <li>
            <%= link_to provinces_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
              <span class="micon dw dw-folder-94"></span>
              <span class="mtext">Provinces</span>
            <% end %>
          </li>
        <% end %>
        <% if policy(Regency).index? %>
          <li>
            <%= link_to regencies_path, class: "dropdown-toggle", data: { turbo: "true" } do %>
              <span class="micon dw dw-folder-94"></span>
              <span class="mtext">Regencies</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu-overlay"></div>