<div id="<%= dom_id regency %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= regency.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created by:</strong>
    <%= regency.created_by %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created by name:</strong>
    <%= regency.created_by_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated by:</strong>
    <%= regency.updated_by %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated by name:</strong>
    <%= regency.updated_by_name %>
  </p>

</div>
