<div id="<%= dom_id class_package %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= class_package.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= class_package.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Trainers:</strong>
    <%= class_package.trainers_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= class_package.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= class_package.duration %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= class_package.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Available date:</strong>
    <%= class_package.available_date %>
  </p>

</div>
