<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gym and Fitness App</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="turbolinks-cache-control" content="no-preview">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" />
    <!-- FilePond stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/filepond/4.31.2/filepond.min.css" integrity="sha512-vGdfKLLMdhhO8CEZxmaJ7q8OqKKoC4XWZtHcUAl18y1PHgPQ3CAdSbZVexBgZccZGqwFTsTV7lPI/HK4MM9IOQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag('core.js') %>
    <%= javascript_include_tag('script.min.js') %>
    <%= javascript_include_tag('process.js') %>
    <%= javascript_include_tag('layout-settings.js') %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render "partials/header"   %>
      <%= render "partials/right-sidebar" %>
      <%= render "partials/left-sidebar" %>
    <% end %>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
  </body>
</html>
