<div id="<%= dom_id member %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= member.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Users:</strong>
    <%= member.users_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= member.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Handphone number:</strong>
    <%= member.handphone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= member.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= member.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Province:</strong>
    <%= member.province %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Emergency phone name:</strong>
    <%= member.emergency_phone_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Emergency phone number:</strong>
    <%= member.emergency_phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Emergency phone status:</strong>
    <%= member.emergency_phone_status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Membership start date:</strong>
    <%= member.membership_start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Membership end date:</strong>
    <%= member.membership_end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= member.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Membership package:</strong>
    <%= member.membership_package_id %>
  </p>

</div>
